In [45]:
import pandas as pd
pd.set_option("display.max_columns", None)

df_taxi = pd.read_parquet("data\yellow_tripdata_2025-01.parquet")
df_taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

df_taxi = pd.read_parquet("data\green_tripdata_2021-01.parquet")
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,None,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,None,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,None,-0.3,-52.80,3.0,1.0,0.00

In [2]:
df_taxi.shape

(76518, 20)

In [27]:
df_taxi["RatecodeID"].unique()

array([ 1.,  5., 99.,  2.,  4.,  3.,  6., nan])

In [48]:
df_taxi.tpep_pickup_datetime = pd.to_datetime(df_taxi.tpep_pickup_datetime)
df_taxi.tpep_dropoff_datetime = pd.to_datetime(df_taxi.tpep_dropoff_datetime)

In [49]:
df_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB

In [29]:
df_taxi.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          540149
trip_distance                 0
RatecodeID               540149
store_and_fwd_flag       540149
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     540149
Airport_fee              540149
cbd_congestion_fee            0
dtype: int64

In [ ]:
# create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:7762117689@localhost:5432/ny_taxi")
engine.connect()

In [31]:
# Generate CREATE SQL statement from scheme to validation
print(pd.io.sql.get_schema(df_taxi, name="yellow_taxi_data", con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11036\956964865.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.io.sql.get_schema(df_taxi, name="yellow_taxi_data", con=engine))

In [32]:
import pyarrow.parquet as pq

parquet_file = pq.ParquetFile("data/yellow_tripdata_2025-01.parquet")

# create batches of 100,000 for the paraquet file
batches_iter = parquet_file.iter_batches(batch_size=100000)
batches_iter

In [33]:
df_iter = next(batches_iter).to_pandas()
df_iter

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2025-01-02 12:29:15,2025-01-02 12:46:16,2,2.44,1,N,186,50,1,17.7,0.0,0.5,4.34,0.0,1.0,26.04,2.5,0.0,0.0
99996,2,2025-01-02 12:54:47,2025-01-02 13:11:29,3,0.88,1,N,246,164,1,14.9,0.0,0.5,1.00,0.0,1.0,19.90,2.5,0.0,0.0
99997,2,2025-01-02 12:12:22,2025-01-02 12:39:41,1,5.33,1,N,230,88,1,29.6,0.0,0.5,6.72,0.0,1.0,40.32,2.5,0.0,0.0
99998,2,2025-01-02 12:31:07,2025-01-02 12:58:04,1,2.67,1,N,48,263,1,23.3,0.0,0.5,8.19,0.0,1.0,35.49,2.5,0.0,0.0
99999,2,2025-01-02 12:59:38,2025-01-02 13:08:31,1,1.27,1,N,263,141,1,10.0,0.0,0.5,2.80,0.0,1.0,16.80,2.5,0.0,0.0

In [42]:
df_iter.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11036\4202867512.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_iter.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [38]:
# from time import time

# # insert value to the table
# t_start = time()
# count = 0

# for batch in parquet_file.iter_batches(batch_size=100000):
#     count+= 1
#     batch_df = batch.to_pandas()
#     print(f"inserting batches {count}")
#     b_start = time()

#     batch_df.to_sql(name='yellow_taxi_data', 
#                     con=engine, 
#                     if_exists='append', 
#                     index=False, 
#                     chunksize = 100000
#                     )
    
#     b_end = time()
#     print(f'inserted! time taken {b_end - b_start:10.3f} seconds. \n')

# t_end = time()
# print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')